
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  position: sticky;
}



.logo-container {
  display: flex;
  align-items: center;
}


.logo {
  width: 150px;
  height: auto;
  cursor: pointer;
}


.nav-items > ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-items > ul > li {
  margin: 0 20px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  
 
}

.res-card{
  width: 220px;
  background-color: #f0f0f0;
  border-radius: 12px;
  padding: 12px;
  cursor: pointer;
  transition: 0.3s;
   /* overflow: hidden;
  text-overflow: ellipsis;
  /* overflow: hidden; */
} 

.res-card:hover{
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
  
}

.search{
    padding:10px ;
    
}
.foodItem1{
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.res-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}
/* .res-card div:last-child h3,
.res-card div:last-child h4{
  margin: 6px 0;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.res-card div:last-child h4:first-of-type{
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
} */

